.navbar {
  background: rgb(0, 1, 12);
}

.navbar .navbar-nav .nav-item .nav-link:hover {
    font-weight: bold;   
    color: rgb(250, 118, 250);
    text-shadow: 0 0 20px #ffffff, 0 0 40px #ffffff;
    transition: all 0.4s ease;
  }
  
  .navbar .navbar-brand:hover {
    color: #fff;
    filter: drop-shadow(0 0 0.75rem pink
    );
    text-shadow: 0 0 20px pink, 0 0 40px pink;
    transition: all 0.4s ease;
  }
  
  .navbar .navbar-brand {
    color: pink;
  }
  
  .navbar .navbar-nav .nav-item .nav-link {
    font-size: 18px;
    text-decoration: none;
    color: pink;
  }
  
  .navbar .navbar-nav .nav-item .nav-link.active {
    background-color: pink;
    border-radius: 10px;
    font-weight: bold;
    color: #fff;
  }